[submodule "roms/vgabios"]
	path = roms/vgabios
	url = http://git.qemu.org/vgabios.git/
[submodule "roms/seabios"]
	path = roms/seabios
	url = http://git.qemu.org/seabios.git/
[submodule "roms/SLOF"]
	path = roms/SLOF
	url = http://git.qemu.org/SLOF.git
[submodule "roms/ipxe"]
	path = roms/ipxe
	url = http://git.qemu.org/ipxe.git
[submodule "roms/openbios"]
	path = roms/openbios
	url = http://git.qemu.org/openbios.git
[submodule "roms/qemu-palcode"]
	path = roms/qemu-palcode
	url = http://github.com/rth7680/qemu-palcode.git
[submodule "roms/sgabios"]
	path = roms/sgabios
	url = http://git.qemu.org/sgabios.git
[submodule "pixman"]
	path = pixman
	url = http://anongit.freedesktop.org/pixman
[submodule "dtc"]
	path = dtc
	url = http://git.qemu.org/dtc.git
